.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}
.margin-r-10 {
    margin-right: 10px;
}
