.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}
.margin-r-10 {
    margin-right: 10px;
}
.button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition:0.1s ease all ;
}
.button:hover {
    background-color: var(--main-color);
    color: white;
    

}

@keyframes rotate { 
    0% {
        transform: rotateX(0deg);
      }
      100% {
        transform: rotateX(360deg);
      }
}
